@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fragment+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Dosis&family=Expletus+Sans&family=Kolker+Brush&family=Oswald&display=swap");
.logo {
  font-size: 1.2rem;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 20rem));
}

body {
  background-color: #e9e9eb;
  height:100%;
}

* p {
  font-family: "Fragment Mono", monospace;
}

* h1 {
  font-family: "Fjalla One", sans-serif;
}

.billing-forms input {
  height: 2.3rem;
 
background:none;
outline:none;
border-bottom:2px solid hsla(37, 89%, 52%, 0.6);
}

@media all and (max-width: 639px){
  .billing-forms input{
    width:7rem;
  }
}

.contact-info{
  font-family: 'Nerko One', cursive;


  }
  .contact-info p{
    display: flex;
    align-items: center;
    gap:7px;
  }

  .svg-icon{
    transform: scaleX(-1);
  }