@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fjalla+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Fragment+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300&family=Dosis&family=Expletus+Sans&family=Kolker+Brush&family=Oswald&display=swap");
.logo {
  font-size: 1.2rem;
}

.product-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 20rem));
}

body {
  background-color: #e9e9eb;
}

* p {
  font-family: "Fragment Mono", monospace;
}

* h1 {
  font-family: "Fjalla One", sans-serif;
}

.billing-forms input {
  height: 2.3rem;
  border-radius: 5px;
  box-shadow: -1px 2px 2px hsla(14, 84%, 53%, 0.79);
}
